node_modules/
backend/node_modules/
frontend/node_modules/

backend/storage/
frontend/dist/

.DS_Store
Thumbs.db
releases/SlideShow-win32-x64/
releases/win-unpacked/
releases/*.zip
releases/*.zip.*
releases/*.extract.cmd
releases/latest-electron.json
